body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #4caf50; /* Use the green from the logo */
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 1.2em;
}

label img {
    vertical-align: middle;
    margin-right: 8px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #2196F3; /* Use the blue from the logo */
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #1e88e5; /* Darker shade of blue for hover state */
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

#g_id_onload, .g_id_signin {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

#appleid-signin {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}